.header img{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 100px;
}
nav img{
    float: left;
}
.header nav{
    padding: 10px;
}
nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
    margin:10px;
}
